canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.by-day-chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 100%;
}

.interaction-chart-container {
  position: relative;
  margin: auto;
  height: 60vh;
  width: 100%;
}
